.error {
	color: #f00;
}

.placeholder-center {
	margin: auto;
}

.email-pattern-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
}

.email-pattern-row-button {
	display: flex;
	align-items: flex-end;
	padding-bottom: 0.4em;
}

.email-pattern-row-center {
	flex: 1;
	margin-left: 1em;
	margin-right: 1em;
}
